#weburov-gdpr-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #0073e6;
    color: white;
    padding: 15px;
    text-align: center;
    display: none;
    z-index: 9999;
}
#weburov-gdpr-banner button {
    background: white;
    color: #0073e6;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}
